@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: row;
}

.sign-in-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background-color: #FBF4E0;
}

.sign-in-content {
  text-align: right;
  padding-top: 5rem;
  padding-right: 5rem;
  background-color: #FBF4E0;
  width: 100%;
}

.copy-items {
  max-width: 50rem;
  text-align: center;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.copy {
  margin-top: 5rem;
  color: #8C9887;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.logo-contain {
  margin-top: 12rem;
  color: #6C925C;
}

.sign-in-btn, .m-2, .routine-delete, .rout-modal {
  background-color: #6C925C;
  color: white;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  border-color: #6C925C;
}

.sign-in-btn:hover, .m-2:hover {
  background-color: #8C9887;
}

footer {
  text-align: right;
  color: #636562;
  position: fixed;
  bottom: 0;
  right: 5rem;
  margin-bottom: 2rem;
}

.github-footer:hover {
  color:#6C925C;
}

.index-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 2rem;
}

.index-items {
  width: 100%;
  margin-right: 2%;
}

.routine-card {
  width: 100%;
  margin-top: 2rem;
  background-color: #FBF4E0;
  color: #636562;
}

.routine-cards-contain {
  margin-top: 2rem;
}

.routcard-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-welcome {
  font-family: Cambria, serif;
  color: #6C925C;
  font-size: 4rem;
  margin-top: 8rem;
}


.side-links {
  height: 100vh;
  background-color: #FBF4E0;
  text-align: center;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.page-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.search-input {
  border-color: #6C925C;
  border-radius: .5rem;
  width: 100%;
  margin-top: 3rem;
}

.index-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rout-modal {
  height: 2.5rem;
  margin-top: 8rem;
}

.side-links {
  display: flex;
  flex-direction: column;
}
